* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.421);
}

main h1 {
    margin-bottom: 20px;
    text-align: center;
}

main p {
    margin-bottom: 16px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgba(108, 106, 106, 0.326);
    background-color: rgba(108, 106, 106, 0.505);
    color: rgb(0, 0, 0);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}